.search_box {
  text-align: center;
  margin-bottom: 20px;
}

.register_text {
  text-align: center;
  display: block;
}

.header {
  text-align: center;
}

.form-input-md input {
  margin-bottom: 20px;
}

.form-radio-lg {
  font-size: 20px;
}

input[type=radio] {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
}